@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$main-color: #e6edf4;
$sidebar-color: darken($main-color, 10%);
$sidebar-color-active: darken($sidebar-color, 10%);
$accent-color: #3689fc;

:root {
  --accent: #{$accent-color};
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $main-color;
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template:
    'sidebar header' auto
    'sidebar footer' 1fr / 250px 1fr;
  min-height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

%flex-vertical {
  display: flex;
  flex-direction: column;
}

%button {
  border: none;
  border-radius: 8px;
}

@mixin button-highlight($color) {
  &:hover {
    background-color: darken($color, 10%);
    cursor: pointer;
  }

  &:active {
    background-color: darken($color, 15%);
  }
}

.sidebar {
  @extend %flex-vertical;
  background-color: $sidebar-color;
  gap: 32px;
  grid-area: sidebar;

  h1 {
    align-self: start;
    margin: 16px 0 0 16px;
    text-align: center;
  }

  button {
    @extend %button;
    background-color: inherit;
    margin: 1px 16px;
    padding: 12px 16px;
    text-align: left;

    &.active {
      background-color: $sidebar-color-active;
      font-weight: bold;
    }
    @include button-highlight($sidebar-color);
  }
}

.project-container {
  @extend %flex-vertical;
}

main {
  padding: 32px;

  $add-task-color: #28a745;
  #add-task-button {
    @extend %button;
    background-color: $add-task-color;
    color: white;
    padding: 12px 24px;

    @include button-highlight($add-task-color);
  }
}

.task-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-top: 24px;
}

.task-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  padding: 16px;

  h3,
  p {
    margin: 0;
  }

  .due,
  .delete {
    justify-self: end;
  }

  .desc {
    color: #909090;
  }

  @mixin priority-color($color) {
    border-left: 8px solid $color;
  }

  &[data-priority='1'] {
    @include priority-color(red);
  }

  &[data-priority='2'] {
    @include priority-color(orange);
  }

  &[data-priority='3'] {
    @include priority-color(var(--accent));
  }
}

footer {
  margin: auto 16px 0 0;
  text-align: right;
}

.footer-icons {
  font-size: 2rem;
  user-select: none;

  a:hover {
    color: var(--accent);
    cursor: pointer;
  }
}

.footer-text {
  margin-top: 8px;
}
